<mat-toolbar color="warn">Character Stats/Abilities</mat-toolbar>

<form (submit)="DiceRoller()" (reset)="onAddStat(statForm)" #statForm="ngForm">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
    Character Ability Scores
    </mat-expansion-panel-header>
    <ul >
        <li name="stats" *ngFor="let stat of stats" ><!--Outputs all six randomly generated stats-->
          {{stat}}
        </li>
    </ul>
      <button mat-raised-button color="primary" type="submit">Roll/Re-Roll</button>
      <button mat-raised-button color="warn" type="reset">Save Rolls</button>
  </mat-expansion-panel>
</form>