
<mat-toolbar color="warn">Character List</mat-toolbar>
<mat-accordion multi="true" *ngIf="posts.length > 0">
  <!--Outputs the data retrieved from the db and outputs until it reaches the end of the document-->
  <mat-expansion-panel [expanded]="false" *ngFor="let post of posts">
    <mat-expansion-panel-header>
     {{ post.title }}<!--Outputs from the var to the web page-->
    </mat-expansion-panel-header>
    <p>Class: {{ post.content }}</p>
    <p>Race: {{ post.race }}</p>
    <p>Background: {{ post.background }}</p>
    <p>Level: {{ post.level }}</p>
    <mat-action-row>
      <!--Buttons operate using two different functions-->
      <!--Updates goes straight to the update page using router link-->
      <!--Delete calls a method from the ts using a click function-->
      <button mat-button [routerLink]="['/update', post._id]" color="primary" >UPDATE</button>
      <button mat-button color="warn" (click)="onDelete(post._id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<!--Condition for when the db is empty-->
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p> 