<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <!--Name Form-->
    <mat-form-field>
      <input placeholder="Name" matInput type="text" name="title" ngModel required minlength="3" #title="ngModel">
      <mat-error *ngIf="title.invalid">Character's Name.</mat-error>
    </mat-form-field>

    <!--Class Form-->
    <mat-form-field>
      <input placeholder="Class" matInput type="text" name="content" ngModel required #content="ngModel">
      <mat-error *ngIf="content.invalid">Character's Class.</mat-error>
    </mat-form-field>

    <!--Race Form-->
    <mat-form-field>
      <input placeholder="Race" matInput type="text" name="race" ngModel={{post.race}} required #race="ngModel">
      <mat-error *ngIf="race.invalid">Change Character's Race.</mat-error>
    </mat-form-field>

    <!--Background Form-->
    <mat-form-field>
      <input placeholder="Background" matInput type="text" name="background" ngModel={{post.background}} required #background="ngModel">
      <mat-error *ngIf="background.invalid">Change Character's Background.</mat-error>
    </mat-form-field>

    <!--Level Form-->
 <!--   <mat-form-field>
        <input placeholder="Level" matInput type="text" name="level" ngModel required #background="ngModel">
        <mat-error *ngIf="level.invalid">Character's Level.</mat-error>
      </mat-form-field>-->

  
    <button mat-button 
      color="primary"
      type="submit">Save Post</button>
  </form>

</mat-card>
