<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input placeholder="Name"
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Character's name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Class"
        matInput
        rows="4"
        name="content"
        ngModel
        required
        #content="ngModel">
      <mat-error *ngIf="content.invalid">Character's class.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input placeholder="Race"
          matInput
          type= "text"
          name="race"
          ngModel
          required
          #race="ngModel">
        <mat-error *ngIf="race.invalid">Character's Race.</mat-error>
      </mat-form-field>

    <mat-form-field>
      <input placeholder="Background"
        matInput
        type="text"
        name="background"
        ngModel
        required
        minlength="3"
        #background="ngModel">
      <mat-error *ngIf="background.invalid">Character's Background.</mat-error>
    </mat-form-field>

    <button mat-button 
      color="primary"
      type="submit">Save Post</button>
  </form>
</mat-card>
