
<mat-toolbar color="warn"> 
    <mat-toolbar-row>
            <span class="title-center">
        Dungeons&Dragons Character Creator
    </span>
      </mat-toolbar-row>
    
      <mat-toolbar-row>

<i class="material-icons">edit</i><button mat-button [routerLink]="['/create']">Create New Character</button>
<i class="material-icons">remove_red_eye</i> <button mat-button [routerLink]="['/list']">Display List of Characters</button>
<i class="material-icons">casino</i><button mat-button [routerLink]="['/stats']">Roll Stats</button>
</mat-toolbar-row>
 </mat-toolbar>


<router-outlet></router-outlet>